@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
	--dark-color-a: #3377ff;
	--dark-color-b: #3377ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--dark-color-a);
	color: white;
	border: 0;
	font-size: 28px;
	height: 2.5em;
	border-radius: 8px;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
}

.btn-secondary {
	cursor: pointer;
	padding: 10px 15px;
	background: #d9e6ff;
	color: #153066;
	border: 0;
	font-size: 16px;
	height: auto;
	border-radius: 4px;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
}

#leave-btn {
	background-color: #FFD480;
	color: #b25601;
}

/* Chat Page */

.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	max-width: 500px;
	color: black;
}

.chat-header {
	color: black;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.people-count {
	display: flex;
	place-items:center;
}

.people-count>img {
	object-fit: contain;
}

.people-count>span {
	margin-left: 5px;
	font-size: 24px;
	font-weight: bold;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	display: none;
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 10px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	width: 100%;
	font-size: 16px;
	padding: 5px;
	height: 2.5em;
	border: none;
	border-bottom: solid 2px #eff1f7;
}

.btn-send {
	border: none;
	background-color: white;
	color: #3377FF;
	width: 60px;
}

.btn-send:active {
	background-color: snow;
}

/* Join Page */
.join-container {
	width: 100%;
	max-width: 500px;
	color: black;
}

.join-header {
	text-align: center;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 30px;
}

.join-main label {
	font-size: 20px;
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 20px;
	padding: 5px;
	height: 1.8em;
	width: 100%;
	border: none;
	background-color: #ebedf2;
	color: black;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	width: 100%;
}

header>img {
	width: 100%;
	padding: 20px;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

  #div {
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
  }

  #im {
	justify-content: baseline;
	align-items: center;
	margin-bottom: 5px;
  }



